.dialogsWrap {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem {
    padding: 10px;
    color: #fff
}

.dialogsItem .active {
    color: gold
}

.dialogsItem .dialog {}

.messagesWrap {
    padding: 10px;
}

.textarea {
    margin-top: 30px;
    margin-left: 25px;
}

.dialogBtn{
    margin: 25px;
}


/* .messages .message {} */